<%= form_with(model: pet_history) do |form| %>
  <% if pet_history.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pet_history.errors.count, "error") %> prohibited this pet_history from being saved:</h2>

      <ul>
        <% pet_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :height, style: "display: block" %>
    <%= form.text_field :height %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight %>
  </div>

  <div>
    <%= form.label :dateVisit, style: "display: block" %>
    <%= form.date_field :dateVisit %>
  </div>

  <div>
    <%= form.label :diagnosis, style: "display: block" %>
    <%= form.text_field :diagnosis %>
  </div>

  <div>
    <%= form.label :pet_id, style: "display: block" %>
    <%= collection_select(:pet_history, :pet_id, Pet.all, :id, :name) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
