<div id="<%= dom_id pet_history %>">
  <p>
    <strong>Height:</strong>
    <%= pet_history.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pet_history.weight %>
  </p>

  <p>
    <strong>Datevisit:</strong>
    <%= pet_history.dateVisit %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= pet_history.diagnosis %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= pet_history.pet.name %>
  </p>

</div>
